body {
	margin: 0;
	font-family: Arial;
	background: #64b0d9;
	color: #FFF;
}

main {
	margin: 0 auto;
	padding: 1rem;
	max-width: 50vh;
}

#button-grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}

.button-grid-element {
}

.button-grid-element:hover {
	cursor: pointer;
}

.button {
	border-radius: 50%;
	border: 0.2rem solid #FFF;
	display: inline-block;
	height: 5.5rem;
	width: 5.5rem;
}

#audio {
	display: none;
}
